RewriteEngine On
Options +Indexes

# This works thanks to CisseR
RewriteRule (css|js|img)/(.*)$ public/$1/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?r=$1 [L,QSA]
